<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="assets/apple-icon-180x180.png">
  <link href="assets/favicon.png" rel="icon">

  <title>Title page</title>  

<link href="main.3f6952e4.css" rel="stylesheet"></head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
<!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./index.html" title="">01 : Home</a></li>
          <li><a href="./works.html" title="">02 : Works</a></li>
          <li><a href="./about.html" title="">03 : About me</a></li>
          <li><a href="./contact.html" title="">04 : Contact</a></li>
          <li><a href="./components.html" title="">05 : Components</a></li>
        </ul>


          <ul class="nav navbar-nav navbar-right navbar-small visible-md visible-lg">
            <li><a href="./work1.html" title="" class="active">001</a></li>
            <li><a href="./work2.html" title="">002</a></li>
            <li><a href="./work3.html" title="">003</a></li>
            <li><a href="./work4.html" title="">004</a></li>
            <li><a href="./work5.html" title="">005</a></li>
            <li><a href="./work6.html" title="">006</a></li>
          </ul>


      </div> 
    </div>
  </nav>
</header>
<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <img src="assets/images/work001-01.jpg" class="img-responsive" alt="">
        <div class="card-container">
          <div class="text-center">
            <h1 class="h2">001 : My Portfolio Project</h1>
          </div>
          <p>Building a Bespoke Digital Identity with Python.</p>

          <blockquote>
            <p>Project: Personal Portfolio Website</p>
          </blockquote>

            <p>Welcome to the heart of my digital presence – my very own Personal Portfolio Website! This project is a reflection of my journey into the world of Python programming and web development. Here's a glimpse into what this website entails:</p>

            <p>Objective:</p>

            <p>The primary goal of this project was to create a dynamic and visually appealing space where I could showcase my skills, projects, and professional journey. I wanted to build a platform that not only highlights my transition from the field of sales and marketing to Python programming but also serves as a testament to my dedication and passion for continuous learning.</p>

            <p>Key Features:</p>

            <p>Responsive Design: The website is crafted to be seamlessly accessible across various devices, ensuring a smooth and engaging user experience.</p>

            <p>Project Showcase: The 'Works' tab features a collection of projects that I've undertaken, offering visitors a firsthand look into my coding capabilities and creativity.</p>

            <p>About Me Section: Delve into the 'About Me' page to learn more about my background, my journey into Python programming, and the skills that make me a unique candidate in the tech industry.</p>

            <p>Interactive Elements: The website incorporates interactive elements to keep visitors engaged, providing an immersive experience as they navigate through my portfolio.</p>

            <p>Tech Stack:</p>

            <p>Frontend: HTML, CSS, JavaScript</p>

            <p>Backend: Python (Flask framework)</p>

            <p>Version Control: Git, GitHub</p>

            <p>Learning Experience:</p>

            <p>The development of this portfolio website was not only a showcase of my technical skills but also a valuable learning experience. I had the opportunity to apply my knowledge from the "Complete Python Developer 2024" course on the Zero to Mastery platform, enhancing my proficiency in both Python programming and web development.</p>

            <p>Feel free to explore this project, navigate through the various sections, and get to know me better. Your feedback is highly appreciated, and I'm excited to continue refining and expanding this digital space as my journey in Python programming evolves.</p>

            <p>Thank you for visiting my Personal Portfolio Website!</p>
        </div>
      </div>

      
      
      <div class="col-md-8 col-md-offset-2 section-container-spacer">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <img src="./static/assets/images/work001-02.jpg" class="img-responsive" alt="">
            <p>Menphis skyline</p>
          </div>
          <div class="col-xs-12 col-md-6">
            <img src="./static/assets/images/work001-03.jpg" class="img-responsive" alt="">
            <p>Menphis skyline</p>
          </div>
        </div>
      </div>

      <div class="col-xs-12">
        <img src="./static/assets/images/work001-04.jpg" class="img-responsive" alt="">
      </div>

    </div>
  </div>
</div>


<footer class="footer-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>© UNTITLED | Website created with <a href="http://www.mashup-template.com/" title="Create website with free html template">Mashup Template</a>/<a href="https://www.unsplash.com/" title="Beautiful Free Images">Unsplash</a></p>
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

--> <script type="text/javascript" src="main.70a66962.js"></script></body>

</html>